/* style.css */

/* 캐러셀 아이템 높이를 300px로 고정 */
#featureCarousel .carousel-item {
  height: 500px;
}
/* 이미지 크기가 영역에 꽉 차도록 object-fit 적용 */
#featureCarousel .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* 공통 버튼 색상 */
.custom-btn {
  background-color: #002d5a;
  border-color: #002d5a;
}

.custom-btn:hover {
  background-color: #002d5a;
  border-color: #002d5a;
}
